<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class="users-heading"> My Profile
      </div>
      <p>『<%= @user.status %>』</p>
      <p>合計幸福度スコア：　<%= @user.total_score %></p>
      <img src="<%= "/user_images/#{@user.image_picture}" %>">
      <h2><%= @user.name %>
      <% if @user.id == @current_user.id %>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
      </h2>
      <h1>ひとこと</h1>
      <% if @user.tweet %>
      <p><%= @user.tweet %></p>
      <% end %>
      
    </div>

    <ul class="user-tabs">
      <li ><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li class="active"><%= link_to("目標", "/users/#{@user.id}/goals") %></li>
    </ul>

    <% @user.goals.each do |goal| %>
      <div class="posts-index-item">
        <div class="post-left">
         <img src="<%= "/user_images/#{goal.user.image_picture}" %>">
        </div>
        <div class="post-right">
          <div class="goal-user-name">
            <%= link_to(goal.user.name, "/users/#{goal.user.id}") %>
            <h1><%= goal.achievement %></h1>
          </div>
          <%= link_to(goal.content, "/goals/#{goal.id}") %>
          <div class="deadline">
            <h3>期限：<%= goal.month %>月<%= goal.date %>日まで</h3>
          </div>
          <div class="post-picture">
          </div>
        </div>
      </div>
    <% end %>
</div>